@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: "helloSister";
        font-weight: 200;
        src: url("../public/fonts/helloSisterFont.otf") format("otf");
    }
}